body{
    background-color:lightsalmon;
    background-image:linear-gradient(to right, rgba(255, 160, 122, 0.85) 0 100%), url("hugeFish.jpg");
    background-repeat: repeat;
    background-size:150px;
    padding-left: 20px;
    padding-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
    font-size: 30px;
}
marquee{
    font-size:20px;
}
#site-holder{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}
main {
    max-width:900px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFC393;
    border-width: 3px;
    border-style: dashed;
    border-color: salmon;
    border-radius: 10px;
}
main img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
nav{
    background-color: #FFC393;
    border-width: 3px;
    border-style: dashed;
    border-color: salmon;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:15px;

    grid-column: 1;
}
#header{
    grid-column:2 / span 3;
}

@media only screen and (max-width: 900px) {
    nav{
        flex-direction: row;
    }
}